.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(53, 52, 52, 0.658);
  height: 60vh;
  width: 100vw;
}

div.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100vw;
}

button.cta-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 12rem;
  height: 40rem;
  margin-top: 10rem;
}
.cta-text{
  font-size: 10rem;
}
button{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
}